{
  "openapi": "3.0.3",
  "info": {
    "title": "Student Clubs API",
    "version": "1.0.0",
    "description": "Namuna spetsifikatsiya. Haqiqiy API kelganda shu faylni almashtiring."
  },
  "servers": [
    { "url": "https://api.studentclubs.dev" }
  ],
  "paths": {
    "/clubs": {
      "get": {
        "operationId": "getClubs",
        "tags": ["Clubs"],
        "summary": "Barcha klublar ro'yxati",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ClubDto" }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "tags": ["Auth"],
        "summary": "Tizimga kirish",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequestDto" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponseDto" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ClubDto": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "membersCount": { "type": "integer", "format": "int32" },
          "imageUrl": { "type": "string" }
        }
      },
      "LoginRequestDto": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": { "type": "string" },
          "password": { "type": "string" }
        }
      },
      "AuthResponseDto": {
        "type": "object",
        "required": ["token"],
        "properties": {
          "token": { "type": "string" },
          "userId": { "type": "integer", "format": "int64" },
          "fullName": { "type": "string" }
        }
      }
    }
  }
}
